<a href="https://colab.research.google.com/github/Ikuesan/Projects/blob/main/Student_score_prediction_with_Neural%20Networks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
df = pd.read_csv("Student_score_data.csv")

df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
df.isnull().sum()

Unnamed: 0                0
Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [ ]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [ ]:
for col in df.columns:
    print(f"\nColumn: {col}")
    print(df[col].value_counts(dropna=False))

Column: Unnamed: 0
Unnamed: 0
828    31
0      31
1      31
2      31
802    31
       ..
173    28
477    28
417    28
299    28
106    28
Name: count, Length: 1000, dtype: int64

Column: Gender
Gender
female    15424
male      15217
Name: count, dtype: int64

Column: EthnicGroup
EthnicGroup
group C    9212
group D    7503
group B    5826
group E    4041
group A    2219
NaN        1840
Name: count, dtype: int64

Column: ParentEduc
ParentEduc
some college          6633
high school           5687
associate's degree    5550
some high school      5517
bachelor's degree     3386
master's degree       2023
NaN                   1845
Name: count, dtype: int64

Column: LunchType
LunchType
standard        19905
free/reduced    10736
Name: count, dtype: int64

Column: TestPrep
TestPrep
none         18856
completed     9955
NaN           1830
Name: count, dtype: int64

Column: ParentMaritalStatus
ParentMaritalStatus
married     16844
single       7097
divorced     4919
NaN          1190
widowed       591
Name: count, dtype: int64

Column: PracticeSport
PracticeSport
sometimes    15213
regularly    10793
never         4004
NaN            631
Name: count, dtype: int64

Column: IsFirstChild
IsFirstChild
yes    19082
no     10655
NaN      904
Name: count, dtype: int64

Column: NrSiblings
NrSiblings
1.0    8217
2.0    6790
3.0    6123
0.0    3085
4.0    2941
NaN    1572
5.0    1320
6.0     302
7.0     291
Name: count, dtype: int64

Column: TransportMeans
TransportMeans
school_bus    16145
private       11362
NaN            3134
Name: count, dtype: int64

Column: WklyStudyHours
WklyStudyHours
5 - 10    16246
< 5        8238
> 10       5202
NaN         955
Name: count, dtype: int64

Column: MathScore
MathScore
64    890
67    814
71    797
70    787
63    762
     ...
12      2
15      2
0       1
8       1
7       1
Name: count, Length: 95, dtype: int64

Column: ReadingScore
ReadingScore
65    1001
66     826
74     796
69     789
73     775
      ...
12       3
11       2
15       2
10       1
14       1
Name: count, Length: 90, dtype: int64

Column: WritingScore
WritingScore
67    816
72    772
66    765
64    751
65    751
     ...
10      1
6       1
9       1
13      1
4       1
Name: count, Length: 93, dtype: int64

In [ ]:
#drop unecessary column
df.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
df

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
#filling the missing values of categorical columns with mode
categorical_cols = [
    'EthnicGroup', 'ParentEduc', 'TestPrep', 'ParentMaritalStatus',
    'PracticeSport', 'IsFirstChild', 'WklyStudyHours', 'TransportMeans'
]

for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

df

<ipython-input-87-f855839f462a>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,female,group C,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,female,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,69,90,88
2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,school_bus,5 - 10,45,56,42
4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,female,group C,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
df.isnull().sum()

Gender                    0
EthnicGroup               0
ParentEduc                0
LunchType                 0
TestPrep                  0
ParentMaritalStatus       0
PracticeSport             0
IsFirstChild              0
NrSiblings             1572
TransportMeans            0
WklyStudyHours            0
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [ ]:
#filling missing values of numerical column
df['NrSiblings'].fillna(df['NrSiblings'].median(), inplace=True)

df

<ipython-input-89-5976b2c629c0>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NrSiblings'].fillna(df['NrSiblings'].median(), inplace=True)

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,female,group C,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,female,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,69,90,88
2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,school_bus,5 - 10,45,56,42
4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,female,group C,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [ ]:
df.isnull().sum()

Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
NrSiblings             0
TransportMeans         0
WklyStudyHours         0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

In [ ]:
for col in df.columns:
    print(f"\nColumn: {col}")
    print(df[col].value_counts(dropna=False))

Column: Gender
Gender
female    15424
male      15217
Name: count, dtype: int64

Column: EthnicGroup
EthnicGroup
group C    11052
group D     7503
group B     5826
group E     4041
group A     2219
Name: count, dtype: int64

Column: ParentEduc
ParentEduc
some college          8478
high school           5687
associate's degree    5550
some high school      5517
bachelor's degree     3386
master's degree       2023
Name: count, dtype: int64

Column: LunchType
LunchType
standard        19905
free/reduced    10736
Name: count, dtype: int64

Column: TestPrep
TestPrep
none         20686
completed     9955
Name: count, dtype: int64

Column: ParentMaritalStatus
ParentMaritalStatus
married     18034
single       7097
divorced     4919
widowed       591
Name: count, dtype: int64

Column: PracticeSport
PracticeSport
sometimes    15844
regularly    10793
never         4004
Name: count, dtype: int64

Column: IsFirstChild
IsFirstChild
yes    19986
no     10655
Name: count, dtype: int64

Column: NrSiblings
NrSiblings
2.0    8362
1.0    8217
3.0    6123
0.0    3085
4.0    2941
5.0    1320
6.0     302
7.0     291
Name: count, dtype: int64

Column: TransportMeans
TransportMeans
school_bus    19279
private       11362
Name: count, dtype: int64

Column: WklyStudyHours
WklyStudyHours
5 - 10    17201
< 5        8238
> 10       5202
Name: count, dtype: int64

Column: MathScore
MathScore
64    890
67    814
71    797
70    787
63    762
     ...
12      2
15      2
0       1
8       1
7       1
Name: count, Length: 95, dtype: int64

Column: ReadingScore
ReadingScore
65    1001
66     826
74     796
69     789
73     775
      ...
12       3
11       2
15       2
10       1
14       1
Name: count, Length: 90, dtype: int64

Column: WritingScore
WritingScore
67    816
72    772
66    765
64    751
65    751
     ...
10      1
6       1
9       1
13      1
4       1
Name: count, Length: 93, dtype: int64

In [ ]:
df["ParentEduc"].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [ ]:
#Ordinal encoding for the ordinal categorical columns

educ_order = {
   'some high school': 0,
    'high school': 1,
    'some college': 2,
    "associate's degree": 3,
    "bachelor's degree": 4,
    "master's degree": 5
}
df['ParentEduc'] = df['ParentEduc'].map(educ_order)

In [ ]:
df["WklyStudyHours"].unique()

array(['< 5', '5 - 10', '> 10'], dtype=object)

In [ ]:
study_order = {
    '< 5': 0,
    '5 - 10': 1,
    '> 10': 2,
}
df["WklyStudyHours"] = df["WklyStudyHours"].map(study_order)

In [ ]:
#OneHot Encoding for the nominal features
nominal_features = [
    'EthnicGroup',
    'ParentMaritalStatus',
    'PracticeSport',
]

In [ ]:
# Initialize OneHotEncoder
encoder = OneHotEncoder()

# Fit and transform
encoded_array = encoder.fit_transform(df[nominal_features])

# Convert to a dense array if needed (optional, as a sparse matrix might be more memory efficient)
encoded_array = encoded_array.toarray()

# Convert to DataFrame with new column names
encoded_df = pd.DataFrame(
    encoded_array,
    columns=encoder.get_feature_names_out(nominal_features)
)

In [ ]:
encoded_df

,EthnicGroup_group A,EthnicGroup_group B,EthnicGroup_group C,EthnicGroup_group D,EthnicGroup_group E,ParentMaritalStatus_divorced,ParentMaritalStatus_married,ParentMaritalStatus_single,ParentMaritalStatus_widowed,PracticeSport_never,PracticeSport_regularly,PracticeSport_sometimes
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
30637,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
30638,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
30639,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
30640,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
# Drop the original nominal columns from the main df
df_dropped = df.drop(columns=nominal_features)

# Concatenate the encoded columns
df_encoded = pd.concat([encoded_df, df_dropped], axis=1)

In [ ]:
df_encoded

,EthnicGroup_group A,EthnicGroup_group B,EthnicGroup_group C,EthnicGroup_group D,EthnicGroup_group E,ParentMaritalStatus_divorced,ParentMaritalStatus_married,ParentMaritalStatus_single,ParentMaritalStatus_widowed,PracticeSport_never,...,ParentEduc,LunchType,TestPrep,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,4,standard,none,yes,3.0,school_bus,0,71,71,74
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2,standard,none,yes,0.0,school_bus,1,69,90,88
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,5,standard,none,yes,4.0,school_bus,0,87,93,91
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,3,free/reduced,none,no,1.0,school_bus,1,45,56,42
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2,standard,none,yes,0.0,school_bus,1,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1,standard,none,no,2.0,school_bus,1,59,61,65
30637,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1,standard,none,no,1.0,private,1,58,53,51
30638,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,free/reduced,completed,no,1.0,private,1,61,70,67
30639,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3,standard,completed,no,3.0,school_bus,1,82,90,93
30640,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,2,standard,none,no,1.0,school_bus,1,64,60,58

In [ ]:
from sklearn.preprocessing import LabelEncoder

df_encoded_ = df_encoded.copy()

binary_features = ['Gender', 'TestPrep', 'IsFirstChild', 'TransportMeans', 'LunchType']

label_encoder = LabelEncoder()

for col in binary_features:
    df_encoded_[col] = label_encoder.fit_transform(df_encoded_[col])

In [ ]:
df_encoded_

,EthnicGroup_group A,EthnicGroup_group B,EthnicGroup_group C,EthnicGroup_group D,EthnicGroup_group E,ParentMaritalStatus_divorced,ParentMaritalStatus_married,ParentMaritalStatus_single,ParentMaritalStatus_widowed,PracticeSport_never,...,ParentEduc,LunchType,TestPrep,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,4,1,1,1,3.0,1,0,71,71,74
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2,1,1,1,0.0,1,1,69,90,88
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,5,1,1,1,4.0,1,0,87,93,91
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,3,0,1,0,1.0,1,1,45,56,42
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2,1,1,1,0.0,1,1,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1,1,1,0,2.0,1,1,59,61,65
30637,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1,1,1,0,1.0,0,1,58,53,51
30638,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,1.0,0,1,61,70,67
30639,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,3,1,0,0,3.0,1,1,82,90,93
30640,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,2,1,1,0,1.0,1,1,64,60,58

In [ ]:
for col in df_encoded_.columns:
    print(f"\nColumn: {col}")
    print(df_encoded_[col].value_counts(dropna=False))

Column: EthnicGroup_group A
EthnicGroup_group A
0.0    28422
1.0     2219
Name: count, dtype: int64

Column: EthnicGroup_group B
EthnicGroup_group B
0.0    24815
1.0     5826
Name: count, dtype: int64

Column: EthnicGroup_group C
EthnicGroup_group C
0.0    19589
1.0    11052
Name: count, dtype: int64

Column: EthnicGroup_group D
EthnicGroup_group D
0.0    23138
1.0     7503
Name: count, dtype: int64

Column: EthnicGroup_group E
EthnicGroup_group E
0.0    26600
1.0     4041
Name: count, dtype: int64

Column: ParentMaritalStatus_divorced
ParentMaritalStatus_divorced
0.0    25722
1.0     4919
Name: count, dtype: int64

Column: ParentMaritalStatus_married
ParentMaritalStatus_married
1.0    18034
0.0    12607
Name: count, dtype: int64

Column: ParentMaritalStatus_single
ParentMaritalStatus_single
0.0    23544
1.0     7097
Name: count, dtype: int64

Column: ParentMaritalStatus_widowed
ParentMaritalStatus_widowed
0.0    30050
1.0      591
Name: count, dtype: int64

Column: PracticeSport_never
PracticeSport_never
0.0    26637
1.0     4004
Name: count, dtype: int64

Column: PracticeSport_regularly
PracticeSport_regularly
0.0    19848
1.0    10793
Name: count, dtype: int64

Column: PracticeSport_sometimes
PracticeSport_sometimes
1.0    15844
0.0    14797
Name: count, dtype: int64

Column: Gender
Gender
0    15424
1    15217
Name: count, dtype: int64

Column: ParentEduc
ParentEduc
2    8478
1    5687
3    5550
0    5517
4    3386
5    2023
Name: count, dtype: int64

Column: LunchType
LunchType
1    19905
0    10736
Name: count, dtype: int64

Column: TestPrep
TestPrep
1    20686
0     9955
Name: count, dtype: int64

Column: IsFirstChild
IsFirstChild
1    19986
0    10655
Name: count, dtype: int64

Column: NrSiblings
NrSiblings
2.0    8362
1.0    8217
3.0    6123
0.0    3085
4.0    2941
5.0    1320
6.0     302
7.0     291
Name: count, dtype: int64

Column: TransportMeans
TransportMeans
1    19279
0    11362
Name: count, dtype: int64

Column: WklyStudyHours
WklyStudyHours
1    17201
0     8238
2     5202
Name: count, dtype: int64

Column: MathScore
MathScore
64    890
67    814
71    797
70    787
63    762
     ...
12      2
15      2
0       1
8       1
7       1
Name: count, Length: 95, dtype: int64

Column: ReadingScore
ReadingScore
65    1001
66     826
74     796
69     789
73     775
      ...
12       3
11       2
15       2
10       1
14       1
Name: count, Length: 90, dtype: int64

Column: WritingScore
WritingScore
67    816
72    772
66    765
64    751
65    751
     ...
10      1
6       1
9       1
13      1
4       1
Name: count, Length: 93, dtype: int64

In [ ]:
#model building

X = df_encoded_.drop(columns=['WritingScore', 'MathScore','ReadingScore'])
y = df_encoded_[['WritingScore', 'MathScore','ReadingScore']]

In [ ]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
# Scale inputs
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),
    Dense(32, activation='relu'),
    Dense(3, activation='linear')  # Output layer has 3 neurons (one per score)
])

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
model.summary()

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                   â”‚ (None, 64)             â”‚         1,344 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                 â”‚ (None, 32)             â”‚         2,080 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                 â”‚ (None, 3)              â”‚            99 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 3,523 (13.76 KB)

 Trainable params: 3,523 (13.76 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
#compile the model
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [ ]:
history = model.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5s 5ms/step - loss: 220.5513 - mae: 11.7469 - val_loss: 179.5353 - val_mae: 10.8830
Epoch 2/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 3ms/step - loss: 161.4807 - mae: 10.2764 - val_loss: 178.3410 - val_mae: 10.8238
Epoch 3/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 158.8225 - mae: 10.2106 - val_loss: 178.3190 - val_mae: 10.8491
Epoch 4/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 157.2822 - mae: 10.1212 - val_loss: 177.5835 - val_mae: 10.8017
Epoch 5/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 5ms/step - loss: 158.6487 - mae: 10.1854 - val_loss: 176.6483 - val_mae: 10.8008
Epoch 6/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 3ms/step - loss: 159.8016 - mae: 10.2028 - val_loss: 176.7881 - val_mae: 10.8065
Epoch 7/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 157.5730 - mae: 10.1489 - val_loss: 179.8060 - val_mae: 10.8478
Epoch 8/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 158.1336 - mae: 10.1420 - val_loss: 177.3124 - val_mae: 10.8250
Epoch 9/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 157.0374 - mae: 10.1418 - val_loss: 178.1350 - val_mae: 10.8478
Epoch 10/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 157.9838 - mae: 10.1901 - val_loss: 177.2946 - val_mae: 10.8106
Epoch 11/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 155.1972 - mae: 10.0655 - val_loss: 179.1343 - val_mae: 10.8394
Epoch 12/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 155.8044 - mae: 10.0675 - val_loss: 177.7585 - val_mae: 10.8048
Epoch 13/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 154.5666 - mae: 10.0686 - val_loss: 178.7883 - val_mae: 10.8393
Epoch 14/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.1085 - mae: 10.0138 - val_loss: 179.2383 - val_mae: 10.8458
Epoch 15/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 155.9551 - mae: 10.1226 - val_loss: 177.8867 - val_mae: 10.8239
Epoch 16/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 154.1321 - mae: 10.0046 - val_loss: 181.9561 - val_mae: 10.9871
Epoch 17/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.0421 - mae: 10.0094 - val_loss: 178.5729 - val_mae: 10.8501
Epoch 18/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 156.7695 - mae: 10.0952 - val_loss: 177.8356 - val_mae: 10.8419
Epoch 19/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 155.2920 - mae: 10.0673 - val_loss: 179.6556 - val_mae: 10.9021
Epoch 20/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 156.4452 - mae: 10.1419 - val_loss: 178.1607 - val_mae: 10.8355
Epoch 21/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.8741 - mae: 10.0081 - val_loss: 179.3961 - val_mae: 10.8950
Epoch 22/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.9630 - mae: 10.0272 - val_loss: 178.6677 - val_mae: 10.8806
Epoch 23/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 156.1575 - mae: 10.0990 - val_loss: 178.8173 - val_mae: 10.8854
Epoch 24/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 154.4683 - mae: 10.0591 - val_loss: 178.7512 - val_mae: 10.8685
Epoch 25/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 155.1947 - mae: 10.0551 - val_loss: 178.5848 - val_mae: 10.8676
Epoch 26/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.9675 - mae: 10.0163 - val_loss: 179.9570 - val_mae: 10.9028
Epoch 27/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 156.1133 - mae: 10.0798 - val_loss: 178.7761 - val_mae: 10.8261
Epoch 28/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.0056 - mae: 10.0122 - val_loss: 181.0000 - val_mae: 10.9022
Epoch 29/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 156.2220 - mae: 10.1169 - val_loss: 179.9578 - val_mae: 10.9048
Epoch 30/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 152.1839 - mae: 9.9552 - val_loss: 179.8861 - val_mae: 10.8998
Epoch 31/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.5581 - mae: 10.0177 - val_loss: 180.8199 - val_mae: 10.9463
Epoch 32/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.5723 - mae: 10.0211 - val_loss: 180.6143 - val_mae: 10.9234
Epoch 33/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.9149 - mae: 9.9970 - val_loss: 181.1231 - val_mae: 10.9503
Epoch 34/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.2132 - mae: 9.9395 - val_loss: 181.3553 - val_mae: 10.9130
Epoch 35/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 5ms/step - loss: 152.6927 - mae: 9.9741 - val_loss: 180.1296 - val_mae: 10.9019
Epoch 36/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.9382 - mae: 10.0126 - val_loss: 180.2708 - val_mae: 10.8826
Epoch 37/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 155.1295 - mae: 10.0621 - val_loss: 180.1048 - val_mae: 10.8998
Epoch 38/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 157.2277 - mae: 10.1495 - val_loss: 179.8914 - val_mae: 10.9003
Epoch 39/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.1362 - mae: 9.9901 - val_loss: 181.5063 - val_mae: 10.9552
Epoch 40/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.8067 - mae: 10.0084 - val_loss: 180.2874 - val_mae: 10.8913
Epoch 41/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 151.8062 - mae: 9.9090 - val_loss: 180.3615 - val_mae: 10.9122
Epoch 42/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 150.4400 - mae: 9.8841 - val_loss: 182.3993 - val_mae: 10.9420
Epoch 43/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.7408 - mae: 10.0129 - val_loss: 180.3111 - val_mae: 10.8873
Epoch 44/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.5500 - mae: 9.9690 - val_loss: 181.8197 - val_mae: 10.9254
Epoch 45/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 152.2857 - mae: 9.9721 - val_loss: 180.8504 - val_mae: 10.9483
Epoch 46/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 152.6753 - mae: 9.9634 - val_loss: 181.0399 - val_mae: 10.9183
Epoch 47/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 154.3936 - mae: 10.0386 - val_loss: 183.0775 - val_mae: 10.9930
Epoch 48/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.6178 - mae: 10.0000 - val_loss: 180.5315 - val_mae: 10.9219
Epoch 49/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.7140 - mae: 10.0069 - val_loss: 180.9933 - val_mae: 10.9289
Epoch 50/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 150.9439 - mae: 9.9080 - val_loss: 182.1437 - val_mae: 10.9051
Epoch 51/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 151.4494 - mae: 9.9411 - val_loss: 181.6188 - val_mae: 10.9572
Epoch 52/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 154.7007 - mae: 10.0187 - val_loss: 181.1584 - val_mae: 10.9525
Epoch 53/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 154.6174 - mae: 10.0374 - val_loss: 181.9679 - val_mae: 10.9319
Epoch 54/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.4276 - mae: 10.0125 - val_loss: 181.1180 - val_mae: 10.8937
Epoch 55/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 150.8843 - mae: 9.9120 - val_loss: 181.7317 - val_mae: 10.9460
Epoch 56/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 4ms/step - loss: 152.9990 - mae: 9.9964 - val_loss: 181.2818 - val_mae: 10.9155
Epoch 57/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.7481 - mae: 9.9216 - val_loss: 183.4360 - val_mae: 11.0039
Epoch 58/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.4946 - mae: 9.9710 - val_loss: 182.8094 - val_mae: 10.9887
Epoch 59/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 151.4606 - mae: 9.9251 - val_loss: 186.5557 - val_mae: 11.1368
Epoch 60/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.1723 - mae: 9.9130 - val_loss: 183.0536 - val_mae: 10.9655
Epoch 61/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 150.2083 - mae: 9.8965 - val_loss: 183.2511 - val_mae: 10.9926
Epoch 62/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 151.6388 - mae: 9.9384 - val_loss: 183.9419 - val_mae: 11.0082
Epoch 63/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 149.7952 - mae: 9.8713 - val_loss: 182.6309 - val_mae: 10.9943
Epoch 64/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 152.7991 - mae: 9.9755 - val_loss: 184.2857 - val_mae: 10.9963
Epoch 65/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.4589 - mae: 10.0170 - val_loss: 182.9295 - val_mae: 10.9810
Epoch 66/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 149.4513 - mae: 9.8838 - val_loss: 182.7538 - val_mae: 10.9900
Epoch 67/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 153.8338 - mae: 10.0358 - val_loss: 182.8570 - val_mae: 10.9715
Epoch 68/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.0988 - mae: 9.9998 - val_loss: 183.4448 - val_mae: 10.9805
Epoch 69/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.6060 - mae: 10.0148 - val_loss: 184.5803 - val_mae: 11.0197
Epoch 70/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 150.4880 - mae: 9.8864 - val_loss: 185.1777 - val_mae: 11.0565
Epoch 71/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.3363 - mae: 9.9131 - val_loss: 183.6676 - val_mae: 11.0305
Epoch 72/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 151.3775 - mae: 9.9364 - val_loss: 182.9976 - val_mae: 10.9781
Epoch 73/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.1610 - mae: 10.0114 - val_loss: 183.0056 - val_mae: 10.9886
Epoch 74/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.8554 - mae: 9.9766 - val_loss: 184.4773 - val_mae: 11.0530
Epoch 75/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 149.3569 - mae: 9.8644 - val_loss: 182.4704 - val_mae: 10.9530
Epoch 76/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 149.8778 - mae: 9.9134 - val_loss: 184.6409 - val_mae: 11.0446
Epoch 77/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.9841 - mae: 9.9936 - val_loss: 184.5763 - val_mae: 11.0526
Epoch 78/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - loss: 151.4971 - mae: 9.9339 - val_loss: 183.2726 - val_mae: 11.0038
Epoch 79/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 150.1161 - mae: 9.8934 - val_loss: 183.9732 - val_mae: 11.0105
Epoch 80/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.2888 - mae: 9.9340 - val_loss: 184.7383 - val_mae: 11.0189
Epoch 81/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 150.1336 - mae: 9.8726 - val_loss: 183.0272 - val_mae: 10.9762
Epoch 82/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 153.4005 - mae: 9.9993 - val_loss: 185.7349 - val_mae: 11.0281
Epoch 83/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 151.8292 - mae: 9.9453 - val_loss: 184.5982 - val_mae: 11.0287
Epoch 84/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 151.0736 - mae: 9.9020 - val_loss: 183.9908 - val_mae: 10.9927
Epoch 85/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 153.4873 - mae: 10.0173 - val_loss: 184.4076 - val_mae: 11.0219
Epoch 86/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.5390 - mae: 9.9385 - val_loss: 185.3388 - val_mae: 11.0552
Epoch 87/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 150.2879 - mae: 9.8833 - val_loss: 183.8400 - val_mae: 11.0079
Epoch 88/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 149.7722 - mae: 9.8860 - val_loss: 185.9102 - val_mae: 11.0711
Epoch 89/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - loss: 149.5263 - mae: 9.8703 - val_loss: 184.7763 - val_mae: 11.0207
Epoch 90/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 148.9619 - mae: 9.8393 - val_loss: 184.4836 - val_mae: 11.0290
Epoch 91/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 150.8545 - mae: 9.9181 - val_loss: 185.7955 - val_mae: 11.0789
Epoch 92/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.0989 - mae: 9.9367 - val_loss: 185.2883 - val_mae: 11.0640
Epoch 93/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.0565 - mae: 9.8998 - val_loss: 186.6931 - val_mae: 11.0729
Epoch 94/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 152.6794 - mae: 9.9617 - val_loss: 184.6614 - val_mae: 10.9960
Epoch 95/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 150.3040 - mae: 9.8856 - val_loss: 184.0460 - val_mae: 11.0242
Epoch 96/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.2581 - mae: 9.9173 - val_loss: 184.9449 - val_mae: 11.0224
Epoch 97/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 151.9651 - mae: 9.9532 - val_loss: 185.4423 - val_mae: 11.0364
Epoch 98/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 150.3836 - mae: 9.8989 - val_loss: 185.6850 - val_mae: 11.0655
Epoch 99/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 150.4103 - mae: 9.8899 - val_loss: 185.5221 - val_mae: 11.0316
Epoch 100/100
613/613 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 151.6473 - mae: 9.9575 - val_loss: 186.8312 - val_mae: 11.1161

In [ ]:
loss, mae = model.evaluate(X_test_scaled, y_test)
print(f"Test Loss: {loss:.2f}, Test Mean Absolute Error: {mae:.2f}")

192/192 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - loss: 183.0251 - mae: 10.9861
Test Loss: 182.11, Test Mean Absolute Error: 10.91

In [ ]:
predictions = model.predict(X_test_scaled)

192/192 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step

In [ ]:
comparison = pd.DataFrame(predictions, columns=['Pred_Math', 'Pred_Reading', 'Pred_Writing'])
comparison[['True_Math', 'True_Reading', 'True_Writing']] = y_test.reset_index(drop=True)
comparison.head()

,Pred_Math,Pred_Reading,Pred_Writing,True_Math,True_Reading,True_Writing
0,76.590607,66.333832,75.806030,87,70,87
1,78.207573,86.512177,78.681831,84,90,83
2,61.070400,67.237450,64.453903,81,81,89
3,66.773697,64.750244,69.547035,55,55,57
4,61.152061,60.614174,63.831894,53,49,50

In [ ]:
#